body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background: linear-gradient(to bottom, #436b47, #b9d5bb);
    text-align: center;
    padding: 20px;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 30%;
    border-radius: 5px;
}

.header-title {
    font-size: 40px;
}

.main-content {
    padding: 20px;
}

.section {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
}

.section-left {
    font-size: 24px;
    width: 50%;
}
.section-right {
    width: 50%;
}


.section h2 {
    font-size: 36px;
    color: #436b47;
}

.section p {
    color: #666;
}

.section img {
    width: 60%;
    border-radius: 5px;
    margin-top: 10px;
}

.instructor-image img {
    height: 40%;
    border-radius: 50%;
}

.instructor-image {
    width:30%;
}

.instructor-name {
    font-size:28pt;
}

.instructor-info {
    padding-left: 20px;
}

.instructor-info h4 {
    margin: 10px 0;
}

.instructor-info p {
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #436b47;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #334c32;
}

.footer {
    background: linear-gradient(to top, #436b47, white);
    padding: 20px;
    text-align: center;
    color: white;
}

/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
h4{
    font-family: 'Amatic SC', cursive;
    color:#334c32;
}

.balloon1-left {
position: relative;
display: inline-block;
margin: 0 0 0.5em 15px;
padding: 7px 10px;
min-width: 120px;
max-width: 100%;
color: #555;
font-size: 22pt;
background: #e1edec;
border-radius: 10px;
}

.balloon1-left:before {
content: "";
position: absolute;
top: 50%;
left: -30px;
margin-top: -15px;
border: 15px solid transparent;
border-right: 15px solid #e1edec;
}

.balloon1-left p {
margin: 0;
padding: 0;
}

.balloon2 {
    position: relative;
    display: inline-block;
    color: #436b47;/*文字色*/
    border: solid 0px #436b47;/*線色*/
    font-size: 22pt;
    /* padding: 0.5em;文字周りの余白 */
    margin-left:10px;
    border-radius: 0.5em;/*角丸*/
    min-width: 120px;
    max-width: 100%;
}

.mark{ background: linear-gradient(transparent 60%, #f6ff5f 60%);}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #2E7D32;
    color: white;
}
.header-row th {
    border: none;
}
.service-header {
    background-color: #2E7D32;
    color: white;
}
.price-header {
    background-color: #A5D6A7;
    color: black;
}
.plan {
    background-color: #E8F5E9;
}
.circle::before {
    content: '◎';
    font-weight: bold;
}
.cross::before {
    content: '×';
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.plan-name {
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
}
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .header-right img, .section-right img {
        width: 100%;
        height: auto;
    }
    .cta-button {
        margin: 10px 0;
    }
}